# Permit members of the standard packet-capture group to read USB monitor nodes.
ACTION=="add|change", SUBSYSTEM=="usbmon", GROUP="wireshark", MODE="0660"
